<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/js/fontawesome.min.js"
        integrity="sha256-1lGQuZh8a4EiccMxEc18J0h4nhr5oCmXEXPzca+Lbrk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.2.0/dist/socket.io.min.js"
        integrity="sha256-Kz7CzdTU8TMyn59YIxWrJzMGuaaOBxi6iLs2oPuHm94=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css"
        integrity="sha256-mUZM63G8m73Mcidfrv5E+Y61y7a12O5mW4ezU3bxqW4=" crossorigin="anonymous">
    <script src="/static/admin.js"></script>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <img class="navbar-brand" src="/static/logo.png" width="50" height="50" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Main dashboard</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ username }} <i class="fab fa-discord"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
                            <!-- <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Stats</h5>
                <p>
                    Total guilds: {{ allGuildsLength }}<br>
                </p>
                <p>
                    Status: <span id="statusSpan" class="badge bg-secondary">Please wait...</span>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                All guilds
            </div>
            <div class="card-body">
                {% for guild in guilds %}
                <a href="/dashboard/admin/guild/{{ guild['id'] }}">{{ guild['name'] }}</a> <br>
                {%endfor%}
            </div>
        </div>

        {% if user['owner'] == True %}
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary" id="triggerCommandSync">Trigger Command Sync</button>
                <br>
                <span class="text-danger">Do not use this if you do not know what it does!</span>
            </div>
        </div>
        
        <h3>Global Command Controls</h3>
        {% for cog in commands %}
        <div class="card">
            <div class="card-header">
                <h4>{{cog}}</h4>
            </div>
            <div class="card-body" id="settings">
                <form id="mod-form" action="javascript:void(0);" class="row g-3 commands-form">
                    <div class="form-group col-auto">

                        {% for command in commands[cog] %}
                        <div class="form-check">
                            <input class="form-check-input checkbox-command" type="checkbox" checked
                                value="{{command['name']}}" id="{{command['name']}}">
                            <label class="form-check-label" for="{{command['name']}}">
                                {{command['name']}} - <span class="text-muted">{{command['help']}}</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
        <div class="card">
            <div class="card-body">
                <button class="btn btn-danger" id="saveSettingsBtn">Save Settings</button>
            </div>
        </div>
    </div>
    {%endif%}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>