<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Synico Dashboard">
    <meta name="author" content="Synico">
    <title>Dashboard</title>
    <script src="/static/webpack/962.bundle.js"></script>
<script src="/static/webpack/401.bundle.js"></script>
    <script src="/static/webpack/guildadmin.bundle.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="/"><img class="navbar-brand" src="/static/logo.png" width="50" height="50" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        {% if user["staff"] == True%}
                        <a class="nav-link" href="/dashboard/admin">Admin</a>
                        {% endif %}
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ username }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
                            <!-- <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" class="nav-link active" aria-current="page"
                href="/dashboard/guild/{{guild_id}}/channels">Channels</a>
        </li>
    </ul> -->
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Basic Settings</h4>
            </div>
            <div class="card-body" id="settings">
                <form id="basic-form" action="javascript:void(0);" class="row g-3">
                    <div class="form-group col-auto">
                        <label for="bot-prefix">Bot prefix</label>
                        <input type="text" class="form-control" id="bot-prefix" placeholder="Bot prefix">
                        <input type="submit" class="btn btn-primary" id="basic-submit">
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4>Embed Builder</h4>
            </div>
            <div class="card-body" id="settings">
                <form id="embed-form" action="javascript:void(0);" class="row g-3">
                    <div class="form-group col-auto">
                        <label for="message-text">Message <a target="_blank" rel="noopener noreferer" class="text-muted" href="https://support.discord.com/hc/en-us/articles/210298617-Markdown-Text-101-Chat-Formatting-Bold-Italic-Underline-">Markdown works here!</a></label>
                        <!-- <input type="text" class="form-control" id="message-text" placeholder="Enter your message here"> -->
                        <div class="form-control" id="message-text" contenteditable></div>
                        <label for="message-author">Author</label>
                        <input type="text" class="form-control" id="message-author" placeholder="Enter author">

                        <label for="message-author-url">Author URL</label>
                        <input type="url" class="form-control" id="message-author-url" placeholder="Enter author URL">

                        <label for="message-author-icon">Author Icon</label>
                        <input type="file" class="form-control" id="message-author-icon" accept="image/png, image/jpeg, image/gif">

                        <label for="message-thumbnail">Select a thumbnail</label>
                        <input type="file" class="form-control" id="message-thumbnail" accept="image/png, image/jpeg, image/gif">

                        <label for="message-image">Select a image</label>
                        <input type="file" class="form-control" id="message-image" accept="image/png, image/jpeg, image/gif">

                        <label for="embed-channel">Choose a channel:</label>
                        <input class="form-control" type="color" id="message-color" value="#202225">

                        <select name="embed-channel" id="embed-channel" class="form-control">
                            {% for channel in channels%}
                            {% if channel['type'] == 0%}
                            <option id="{{channel['id']}}">{{channel['name']}}</option>
                            {%endif%}
                            {%endfor%}
                        </select>
                        <input type="submit" class="btn btn-primary" id="embed-submit">
                    </div>
                </form>
            </div>
        </div>
        {% for cog in commands %}
        <div class="card">
            <div class="card-header">
                <h4>{{cog}}</h4>
            </div>
            <div class="card-body" id="settings">
                <form id="mod-form" action="javascript:void(0);" class="row g-3 commands-form">
                    <div class="form-group col-auto">

                        {% for command in commands[cog] %}
                        <div class="form-check">
                            <input class="form-check-input checkbox-command" type="checkbox" checked
                                value="{{command['name']}}" id="{{command['name']}}">
                            <label class="form-check-label" for="{{command['name']}}">
                                {{command['name']}} - <span class="text-muted">{{command['help']}}</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
        <div class="card">
            <div class="card-body">
                <button class="btn btn-danger" id="saveSettingsBtn">Save Settings</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Download raw server data from discord API <a id="rawServerBtn" class="link-primary">here</a>
            </div>
        </div>
    </div>
</body>

</html>